# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Environment variables
.env

# Google Service Account
service_account.json
service_account_minified.txt
ag-expenses-management-*.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel

